In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
ser1=Series([1,2,3],index=['A','B','C'])
ser1

A    1
B    2
C    3
dtype: int64

In [3]:
ser2=Series([4,5,6,7],index=['A','B','C','D'])
ser2

A    4
B    5
C    6
D    7
dtype: int64

In [4]:
ser1+ser2 #for missing index result will NaN

A    5.0
B    7.0
C    9.0
D    NaN
dtype: float64

In [9]:
#with dataframe

dframe1=DataFrame(np.arange(4).reshape((2,2)),columns=list('AB'),index=['NYA','LC'])
dframe1

     A  B
NYA  0  1
LC   2  3

In [17]:
dframe2=DataFrame(np.arange(9).reshape((3,3)),columns=list('ADF'),index=['NYA','CA','LC'])
dframe2

     A  D  F
NYA  0  1  2
CA   3  4  5
LC   6  7  8

In [18]:
dframe1+dframe2

       A   B   D   F
CA   NaN NaN NaN NaN
LC   8.0 NaN NaN NaN
NYA  0.0 NaN NaN NaN

In [20]:
#Use fill_value to fill null values with 0
dframe1.add(dframe2,fill_value=0)

       A    B    D    F
CA   3.0  NaN  4.0  5.0
LC   8.0  3.0  7.0  8.0
NYA  0.0  1.0  1.0  2.0

In [21]:
#take one index value from dataframe to series and perform operations on series and dataframe

ser3=dframe2.ix[1]
ser3

A    3
D    4
F    5
Name: CA, dtype: int32

In [22]:
dframe2-ser3

     A  D  F
NYA -3 -3 -3
CA   0  0  0
LC   3  3  3