In [14]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss records'

In [3]:
webbrowser.open(website)

True

In [4]:
nfl_frame=pd.read_clipboard()

In [5]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN

In [6]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Division'],
      dtype='object')

In [7]:
nfl_frame.Team

0    Chicago
1     Dallas
2      Green
3      Miami
Name: Team, dtype: object

In [10]:
nfl_frame['Season']# get values with column as index value

0    1,338
1      850
2     1921
3      768
Name: Season, dtype: object

In [15]:
#grab multiple columns-use dataframe(frame_name,columns[]
DataFrame(nfl_frame,columns=['Rank','Team','Games'])

   Rank     Team  Games
0     1  Chicago  North
1     2   Dallas   East
2     3    Green    NFC
3     4    Miami   East

In [16]:
#try to include non existing column

In [17]:
DataFrame(nfl_frame,columns=['Rank','Team','Stadium'])

   Rank     Team  Stadium
0     1  Chicago      NaN
1     2   Dallas      NaN
2     3    Green      NaN
3     4    Miami      NaN

In [18]:
#try to fetch top 5 (head())/last 5(tail())rows-by default it will fech all rows

In [20]:
nfl_frame.head(2)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.0,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.0,850,NFC,East,NaN

In [22]:
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN

In [23]:
# fetch rows based on index-ix[]

In [24]:
nfl_frame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             429
Tied             335
Pct.               4
First          0.561
NFL             1966
Season           768
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [26]:
#try to assign values to column-for eg:-
nfl_frame['Stadium']='Arsenal Stadium'
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Arsenal Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,Arsenal Stadium
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,Arsenal Stadium
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,Arsenal Stadium

In [27]:
nfl_frame.Stadium='Arsenal Stadium'
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Arsenal Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,Arsenal Stadium
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,Arsenal Stadium
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,Arsenal Stadium

In [30]:
# assign values from array for that column
nfl_frame.Stadium=np.arange(4)
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,0
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,1
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,2
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,3

In [31]:
#assign values using Series for that column
stadium=Series(['manu Stadium','liverpool stadium'],index=[2,0])
nfl_frame.Stadium=stadium
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,liverpool stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,manu Stadium
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,NaN

In [34]:
#Delete column
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN

In [35]:
#Construct dataframe from dictionary instead of excel data
data={'City':['SF','CA','LA'],'Population':['850000','1250000','3000000']}
city_data=DataFrame(data)
city_data

  City Population
0   SF     850000
1   CA    1250000
2   LA    3000000