In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
ser1=Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
#to reindex use reindex to assign different value to index
ser2=ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
#fill value to assign series value to new index-here 0 is assigned to G
ser2=ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
#using methods inside reindex
#eg-'ffill'
#ser=ser.reindex(range,method='')
ser3=Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger=range(15)

In [8]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [13]:
#ffill will forward fill with series values  until it hits the next given index and so on
ser3=ser3.reindex(ranger,method='ffill')
ser3

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [15]:
#creating dataframe reindex
dframe=DataFrame(randn(25).reshape((5,5)),index=['A','B','C','D','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.888697 -0.673708  0.257648 -0.698279  1.095057
B -1.991113  1.973548 -0.694927  0.729471 -0.620451
C  0.858424 -0.005633 -0.086905 -1.363157 -0.673853
D  0.847910 -1.360766  0.712197  0.278860 -0.277543
F  0.767383 -1.211620 -0.587328 -1.957938  0.988850

In [17]:
#reindex index of dataframe-eg-adds G as new index
dframe=dframe.reindex(['A','B','G','C','D','F'])
dframe

       col1      col2      col3      col4      col5
A -0.888697 -0.673708  0.257648 -0.698279  1.095057
B -1.991113  1.973548 -0.694927  0.729471 -0.620451
G       NaN       NaN       NaN       NaN       NaN
C  0.858424 -0.005633 -0.086905 -1.363157 -0.673853
D  0.847910 -1.360766  0.712197  0.278860 -0.277543
F  0.767383 -1.211620 -0.587328 -1.957938  0.988850

In [18]:
#reindex column headers-eg-added new column 'col6'
new_cols=['col1','col2','col3','col4','col5','col6']
dframe=dframe.reindex(columns=new_cols)
dframe

       col1      col2      col3      col4      col5  col6
A -0.888697 -0.673708  0.257648 -0.698279  1.095057   NaN
B -1.991113  1.973548 -0.694927  0.729471 -0.620451   NaN
G       NaN       NaN       NaN       NaN       NaN   NaN
C  0.858424 -0.005633 -0.086905 -1.363157 -0.673853   NaN
D  0.847910 -1.360766  0.712197  0.278860 -0.277543   NaN
F  0.767383 -1.211620 -0.587328 -1.957938  0.988850   NaN

In [19]:
#faster way to reindex dframe is to use 'ix'
dframe=dframe.ix[['A','B','C','D','E','F'],new_cols]
dframe

       col1      col2      col3      col4      col5  col6
A -0.888697 -0.673708  0.257648 -0.698279  1.095057   NaN
B -1.991113  1.973548 -0.694927  0.729471 -0.620451   NaN
C  0.858424 -0.005633 -0.086905 -1.363157 -0.673853   NaN
D  0.847910 -1.360766  0.712197  0.278860 -0.277543   NaN
E       NaN       NaN       NaN       NaN       NaN   NaN
F  0.767383 -1.211620 -0.587328 -1.957938  0.988850   NaN