In [1]:
import numpy as np

In [3]:
import pandas as pd
from pandas import Series,DataFrame

In [5]:
obj=Series([10,20,30,40])

In [6]:
obj

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
obj.values

array([10, 20, 30, 40], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
ww2_cas=Series([870000,450000,690000,780000],index=['USSR','JAPAN','GERMANY','US'])

In [11]:
ww2_cas

USSR       870000
JAPAN      450000
GERMANY    690000
US         780000
dtype: int64

In [14]:
ww2_cas['US']#similar to array[indexname]

780000

In [15]:
#countries > 700000

In [16]:
ww2_cas[ww2_cas>700000]

USSR    870000
US      780000
dtype: int64

In [17]:
#boolean cndition using 'in' operator

In [21]:
'USSR' in ww2_cas

True

In [22]:
#CONVERT series to dictionary and vice versa

In [23]:
ww2_dict=ww2_cas.to_dict()

In [24]:
ww2_dict

{'GERMANY': 690000, 'JAPAN': 450000, 'US': 780000, 'USSR': 870000}

In [25]:
ww2_series=Series(ww2_dict)

In [26]:
ww2_series

GERMANY    690000
JAPAN      450000
US         780000
USSR       870000
dtype: int64

In [27]:
#create index of a series from another series and from a dictionary

In [31]:
countries=Series(['USSR','JAPAN','GERMANY','US','india'])

In [37]:
ww2_series1=Series(ww2_dict,index=countries)

In [38]:
ww2_series1

USSR       870000.0
JAPAN      450000.0
GERMANY    690000.0
US         780000.0
india           NaN
dtype: float64

In [34]:
#check isnull or not null in pandas

In [39]:
pd.isnull(ww2_series1)

USSR       False
JAPAN      False
GERMANY    False
US         False
india       True
dtype: bool

In [40]:
pd.notnull(ww2_series1)

USSR        True
JAPAN       True
GERMANY     True
US          True
india      False
dtype: bool

In [41]:
#add 2 series

In [42]:
ww2_series+ww2_series1

USSR       1740000.0
JAPAN       900000.0
GERMANY    1380000.0
US         1560000.0
india            NaN
dtype: float64

In [43]:
#its possible to assign name for the series values and also for the index

In [44]:
ww2_series.name='World war2'

In [45]:
ww2_series

USSR       870000.0
JAPAN      450000.0
GERMANY    690000.0
US         780000.0
india           NaN
Name: World war2, dtype: float64

In [46]:
ww2_series.index.name='countries'

In [47]:
ww2_series

countries
USSR       870000.0
JAPAN      450000.0
GERMANY    690000.0
US         780000.0
india           NaN
Name: World war2, dtype: float64