In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
ser1=Series(np.arange(3),index=['a','d','j'])
ser1

a    0
d    1
j    2
dtype: int32

In [3]:
#drop or delete an entry from pandas Series
ser2=ser1.drop('a')
ser2

d    1
j    2
dtype: int32

In [4]:
#drop an entry from dataframe
dframe1=DataFrame(np.arange(9).reshape(3,3),index=['A','B','C'],columns=['col1','c2','c3'])
dframe1

   col1  c2  c3
A     0   1   2
B     3   4   5
C     6   7   8

In [5]:
dframe2=dframe1.drop('A') #by default axis=0 to drop rows
dframe2

   col1  c2  c3
B     3   4   5
C     6   7   8

In [8]:
#axis=1 to drop columns
dframe1=dframe1.drop('c2',axis=1)
dframe1

   col1  c3
A     0   2
B     3   5
C     6   8