In [9]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [10]:
ser2=Series(np.arange(3),index=['A','B','C'])
ser2

A    0
B    1
C    2
dtype: int32

In [11]:
ser2['B']

1

In [12]:
#SELECT by index value
ser2[1]

1

In [13]:
#select by index range
ser2[0:2]

A    0
B    1
dtype: int32

In [14]:
#select by multiple index names
ser2[['A','B']]

A    0
B    1
dtype: int32

In [16]:
ser2=2*ser2

In [17]:
ser2

A    0
B    2
C    4
dtype: int32

In [18]:
#select values based on condition
ser2[ser2>3]

C    4
dtype: int32

In [19]:
#dataframes selection
dframe=DataFrame(np.arange(9).reshape(3,3),index=['A','B','C'],columns=['col1','col2','col3'])
dframe

   col1  col2  col3
A     0     1     2
B     3     4     5
C     6     7     8

In [21]:
dframe['col1']

A    0
B    3
C    6
Name: col1, dtype: int32

In [22]:
#select values based on condition
dframe[dframe['col2']>3]

   col1  col2  col3
B     3     4     5
C     6     7     8

In [23]:
#boolean index
dframe>3

    col1   col2   col3
A  False  False  False
B  False   True   True
C   True   True   True

In [25]:
#index by ix
dframe.ix['B']

col1    3
col2    4
col3    5
Name: B, dtype: int32

In [27]:
dframe.ix[1]

col1    3
col2    4
col3    5
Name: B, dtype: int32